# SQL: Desafio

Nesta aula teremos um desafio de **SQL**. Veja se consegue solucionar todas as questões.

## Instalação da base

Vamos utilizar uma base de dados chamada **"faculdade"**. Execute o script `scripts/faculdade.sql` para gerar a base de dados.

## Como resolver os exercícios?

Indicamos que crie uma cópia da base de dados em sua máquina (passo anterior). Utilize o MySQL Workbench ou o conector para testar as queries. Quando estiver bastante certo de que a resposta está correta, faça a submissão para o servidor.

## Import das bibliotecas

Vamos realizar o import das bibliotecas.

In [1]:
import mysql.connector
from functools import partial
import os
import insperautograder.jupyter as ia
from dotenv import load_dotenv

E vamos criar nosso HELPER de conexão com o banco! Perceba que, uma vez configurado o `.env` não precisaremos mais informar usuários, senhas e URLs!

In [3]:
load_dotenv(override=True)

def get_connection_helper():

    def run_db_query(connection, query, args=None):
        with connection.cursor() as cursor:
            print("Executando query:")
            for result in cursor.execute(query, multi=True):
                if result.with_rows:
                    for row in result.fetchall():
                        print(row)
                else:
                    print(f"{result.rowcount} linhas afetadas.")

    connection = mysql.connector.connect(
        host=os.getenv("MD_DB_SERVER"),
        user=os.getenv("MD_DB_USERNAME"),
        password=os.getenv("MD_DB_PASSWORD"),
        database="faculdade",
    )
    return connection, partial(run_db_query, connection)


connection, db = get_connection_helper()

### Tarefas e Notas
Vamos conferir as tarefas e notas

In [4]:
ia.tasks()

|    | Atividade            | De                  | Até                 | Conta como ATV?   | % Nota Atraso   |
|---:|:---------------------|:--------------------|:--------------------|:------------------|:----------------|
|  0 | newborn              | 2025-08-11 00:00:00 | 2025-11-30 00:00:00 | Não               | 0%              |
|  1 | select01             | 2025-08-14 00:00:00 | 2025-08-22 23:59:59 | Sim               | 25%             |
|  2 | ddl                  | 2025-08-25 12:00:00 | 2025-08-31 23:59:59 | Sim               | 25%             |
|  3 | dml                  | 2025-08-28 16:30:00 | 2025-09-04 23:59:59 | Sim               | 25%             |
|  4 | agg_join             | 2025-09-01 14:00:00 | 2025-09-07 23:59:59 | Sim               | 25%             |
|  5 | group_having         | 2025-09-04 16:30:00 | 2025-09-11 23:59:59 | Sim               | 25%             |
|  6 | views                | 2025-09-08 14:15:00 | 2025-09-14 23:59:59 | Sim               | 25%             |
|  7 | sql_review1          | 2025-09-11 14:15:00 | 2025-09-18 23:59:59 | Sim               | 25%             |
|  8 | permissions          | 2025-09-18 14:15:00 | 2025-09-25 23:59:59 | Sim               | 25%             |
|  9 | ai_md_23_1           | 2025-09-22 14:15:00 | 2025-09-30 23:59:59 | Sim               | 25%             |
| 10 | ai_md_23_2           | 2025-09-22 14:15:00 | 2025-09-30 23:59:59 | Sim               | 25%             |
| 11 | ai_md_25_2           | 2025-10-01 00:00:00 | 2025-10-01 12:10:00 | Não               | 0%              |
| 12 | desafio_normalizacao | 2025-10-06 07:30:00 | 2025-11-12 23:59:59 | Não               | 25%             |

In [5]:
ia.grades(by="task")

|    | Tarefa               |   Nota | Conta como ATV?   |
|---:|:---------------------|-------:|:------------------|
|  0 | newborn              |  10    | Não               |
|  1 | select01             |  10    | Sim               |
|  2 | ddl                  |  10    | Sim               |
|  3 | dml                  |  10    | Sim               |
|  4 | agg_join             |  10    | Sim               |
|  5 | group_having         |  10    | Sim               |
|  6 | views                |  10    | Sim               |
|  7 | sql_review1          |  10    | Sim               |
|  8 | permissions          |  10    | Sim               |
|  9 | ai_md_23_1           |  10    | Sim               |
| 10 | ai_md_23_2           |  10    | Sim               |
| 11 | ai_md_25_2           |   6.88 | Não               |
| 12 | desafio_normalizacao |   0    | Não               |

In [6]:
ia.grades(task="desafio_normalizacao")

|    | Atividade            | Exercício   |   Peso |   Nota |   Nota Sem Atraso |   Nota Com Atraso |
|---:|:---------------------|:------------|-------:|-------:|------------------:|------------------:|
|  0 | desafio_normalizacao | ex01        |      1 |      0 |                 0 |                 0 |
|  1 | desafio_normalizacao | ex02        |      1 |      0 |                 0 |                 0 |
|  2 | desafio_normalizacao | ex03        |      1 |      0 |                 0 |                 0 |
|  3 | desafio_normalizacao | ex04        |      1 |      0 |                 0 |                 0 |
|  4 | desafio_normalizacao | ex05        |      1 |      0 |                 0 |                 0 |

In [7]:
# Média de ATV, dividindo por n-2
ia.average(excluded_count=2)

|    |   Média de ATV |
|---:|---------------:|
|  0 |             10 |

**Exercício 1**: Crie uma query que retorne o id e o nome dos alunos que tenham dois endereços na *CIDADE* de São Paulo ordenado pelo id do aluno.

In [8]:
sql_ex01 = """
SELECT
  id_aluno,
  nome
FROM alunos
WHERE
  TRIM(SUBSTRING_INDEX(SUBSTRING_INDEX(endereco1, ',', -2), ',', 1)) = 'São Paulo'
  AND
  TRIM(SUBSTRING_INDEX(SUBSTRING_INDEX(endereco2, ',', -2), ',', 1)) = 'São Paulo'
ORDER BY id_aluno;
"""

db(sql_ex01)

Executando query:
(91, 'LOIS BUTLER')
(107, 'FLORENCE WOODS')
(130, 'CHARLOTTE HUNTER')
(281, 'LEONA OBRIEN')
(431, 'JOEL FRANCISCO')
(463, 'DARRELL POWER')
(515, 'ANDRE RAPP')

Após testar localmente e considerar sua solução correta, faça o envio clicando no botão abaixo!

In [9]:
ia.sender(answer="sql_ex01", task="desafio_normalizacao", question="ex01", answer_type="pyvar")

interactive(children=(Button(description='Enviar ex01', style=ButtonStyle()), Output()), _dom_classes=('widget…

**Exercício 2**: Uma pesquisa interna revelou que existe um professor na faculdade que causa um aumento na taxa de felicidade dos alunos. Para identificar os alunos mais felizes, escreva uma query que retorne o id e o nome dos alunos que cursam ao mesmo tempo as disciplinas de Megadados e Big Data ou que cursam ao mesmo tempo as disciplinas de Megadados e MLOps. Ordene pelo id do aluno.

**Disclaimer**: exercício criado pelo prof. Márcio, não sou tão convencido assim!

In [10]:
sql_ex02 = """
SELECT 
  id_aluno,
  nome
FROM alunos
WHERE 
    (disciplinas LIKE '%Megadados%' AND disciplinas LIKE '%Big Data%')
 OR (disciplinas LIKE '%Megadados%' AND disciplinas LIKE '%MLOps%')
ORDER BY id_aluno;
"""

db(sql_ex02)

Executando query:
(24, 'KIMBERLY LEE')
(64, 'JUDITH COX')
(77, 'JANE BENNETT')
(126, 'ELLEN SIMPSON')
(129, 'CARRIE PORTER')
(168, 'REGINA BERRY')
(176, 'JUNE CARROLL')
(206, 'TERRI VASQUEZ')
(211, 'STACEY MONTGOMERY')
(216, 'NATALIE MEYER')
(228, 'ALLISON STANLEY')
(254, 'MAXINE SILVA')
(260, 'CHRISTY VARGAS')
(267, 'MARGIE WADE')
(283, 'FELICIA SUTTON')
(307, 'JOSEPH JOY')
(313, 'DONALD MAHON')
(320, 'ANTHONY SCHWAB')
(322, 'JASON MORRISSEY')
(325, 'TIMOTHY BUNN')
(329, 'FRANK WAGGONER')
(332, 'STEPHEN QUALLS')
(333, 'ANDREW PURDY')
(334, 'RAYMOND MCWHORTER')
(361, 'LAWRENCE LAWTON')
(362, 'NICHOLAS BARFIELD')
(389, 'ALAN KAHN')
(405, 'LEONARD SCHOFIELD')
(422, 'MELVIN ELLINGTON')
(436, 'TROY QUIGLEY')
(443, 'FRANCISCO SKIDMORE')
(445, 'MICHEAL FORMAN')
(463, 'DARRELL POWER')
(495, 'CHARLIE BESS')
(527, 'CORY MEEHAN')
(538, 'TED BREAUX')
(552, 'HUGH WALDROP')
(585, 'PERRY SWAFFORD')
(594, 'EDUARDO HIATT')

Após testar localmente e considerar sua solução correta, faça o envio clicando no botão abaixo!

In [11]:
ia.sender(answer="sql_ex02", task="desafio_normalizacao", question="ex02", answer_type="pyvar")

interactive(children=(Button(description='Enviar ex02', style=ButtonStyle()), Output()), _dom_classes=('widget…

**Exercício 3**: A "Avenida Marginal" na cidade de Anápolis mudou de nome para "Avenida Ribeirinha". Escreva uma query que atualize o nome da rua para todos os endereços que possuem o nome "Avenida Marginal" nesta cidade.

**Obs**: considere apeans o `endereco1`.

In [12]:
sql_ex03 = """
UPDATE alunos
SET endereco1 = REPLACE(endereco1, 'Avenida Marginal', 'Avenida Ribeirinha')
WHERE endereco1 LIKE '%Avenida Marginal%'
  AND endereco1 LIKE '%, Anápolis, %';
"""

db(sql_ex03)

Executando query:
2 linhas afetadas.

Após testar localmente e considerar sua solução correta, faça o envio clicando no botão abaixo!

In [13]:
ia.sender(answer="sql_ex03", task="desafio_normalizacao", question="ex03", answer_type="pyvar")

interactive(children=(Button(description='Enviar ex03', style=ButtonStyle()), Output()), _dom_classes=('widget…

**Exercício 4**: Crie uma query que retorne o **Nome** de todas as disciplinas presentes no banco de dados. Ordene pelo nome da disciplina.

In [14]:
sql_ex04 = """
WITH RECURSIVE seq AS (
  SELECT 1 AS n
  UNION ALL
  SELECT n + 1 FROM seq WHERE n < 10  -- assume no máximo 10 disciplinas por aluno
),
tokens AS (
  SELECT 
    TRIM(SUBSTRING_INDEX(SUBSTRING_INDEX(disciplinas, ',', n), ',', -1)) AS disciplina
  FROM alunos
  JOIN seq 
    ON n <= 1 + LENGTH(disciplinas) - LENGTH(REPLACE(disciplinas, ',', ''))
)
SELECT DISTINCT disciplina
FROM tokens
WHERE disciplina <> ''
ORDER BY disciplina;
"""

db(sql_ex04)

Executando query:
('Big Data',)
('Computação em Nuvem',)
('Design de Computadores',)
('Machine Learning',)
('Meditação e Relaxamento',)
('Megadados',)
('MLOps',)
('Redes Sociais',)

Após testar localmente e considerar sua solução correta, faça o envio clicando no botão abaixo!

In [15]:
ia.sender(answer="sql_ex04", task="desafio_normalizacao", question="ex04", answer_type="pyvar")

interactive(children=(Button(description='Enviar ex04', style=ButtonStyle()), Output()), _dom_classes=('widget…

**Exercício 5**: A disciplina "Meditação e Relaxamento" foi cancelada por conta do baixo interesse nela pelos alunos. Escreva uma query que remova a disciplina do banco de dados sem que a estrutura da coluna seja afetada.

In [18]:
sql_ex05 = """
UPDATE alunos
SET disciplinas = TRIM(BOTH ', ' 
                   FROM REPLACE(
                        REPLACE(disciplinas, 'Meditação e Relaxamento, ', ''),  -- caso no meio
                        ', Meditação e Relaxamento', ''                         -- caso no fim
                   )
               )
WHERE disciplinas LIKE '%Meditação e Relaxamento%';
"""

db(sql_ex05)

Executando query:
0 linhas afetadas.

In [19]:
ia.sender(answer="sql_ex05", task="desafio_normalizacao", question="ex05", answer_type="pyvar")

interactive(children=(Button(description='Enviar ex05', style=ButtonStyle()), Output()), _dom_classes=('widget…

### Conferindo as Notas

Conferindo as Notas em cada exercício de **todas** as atividades disponíveis:

Podemos filtrar por uma atividade:

In [20]:
ia.grades(task="desafio_normalizacao")

|    | Atividade            | Exercício   |   Peso |   Nota |   Nota Sem Atraso |   Nota Com Atraso |
|---:|:---------------------|:------------|-------:|-------:|------------------:|------------------:|
|  0 | desafio_normalizacao | ex01        |      1 |     10 |                10 |                 0 |
|  1 | desafio_normalizacao | ex02        |      1 |     10 |                10 |                 0 |
|  2 | desafio_normalizacao | ex03        |      1 |     10 |                10 |                 0 |
|  3 | desafio_normalizacao | ex04        |      1 |     10 |                10 |                 0 |
|  4 | desafio_normalizacao | ex05        |      1 |     10 |                10 |                 0 |

Nota por atividade (tarefa):

In [21]:
ia.grades(by="TASK")

|    | Tarefa               |   Nota | Conta como ATV?   |
|---:|:---------------------|-------:|:------------------|
|  0 | newborn              |  10    | Não               |
|  1 | select01             |  10    | Sim               |
|  2 | ddl                  |  10    | Sim               |
|  3 | dml                  |  10    | Sim               |
|  4 | agg_join             |  10    | Sim               |
|  5 | group_having         |  10    | Sim               |
|  6 | views                |  10    | Sim               |
|  7 | sql_review1          |  10    | Sim               |
|  8 | permissions          |  10    | Sim               |
|  9 | ai_md_23_1           |  10    | Sim               |
| 10 | ai_md_23_2           |  10    | Sim               |
| 11 | ai_md_25_2           |   6.88 | Não               |
| 12 | desafio_normalizacao |  10    | Não               |

Podendo filtrar apenas uma atividade:

In [22]:
ia.grades(by="TASK", task="desafio_normalizacao")

|    | Tarefa               |   Nota | Conta como ATV?   |
|---:|:---------------------|-------:|:------------------|
|  0 | desafio_normalizacao |     10 | Não               |

In [23]:
# Média de ATV, dividindo por n-2
ia.average(excluded_count=2)

|    |   Média de ATV |
|---:|---------------:|
|  0 |             10 |