# Prática com base `classicmodels`

Nesta aula iremos praticar **SQL** e fixar os conteúdos aprendidos nas últimas aulas.

## Instalação da base

Vamos utilizar a base de dados exemplo disponível em https://www.mysqltutorial.org/wp-content/uploads/2018/03/mysqlsampledatabase.zip. Faça o download e execute o script `mysqlsampledatabase.sql` para gerar a base de dados.

Para facilitar, o arquivo `.sql` (zip) e o diagrama do modelo relacional também foram disponibilizados (pasta `sql`). Você pode abrir o modelo no Workbench ou pelo arquivo PDF.

<img src="img/classicmodels.png">

## Como resolver os exercícios?

Indicamos que crie uma cópia da base de dados em sua máquina (passo anterior). Utilize o MySQL Workbench ou o conector para testar as queries. Quando estiver bastante certo de que a resposta está correta, faça a submissão para o servidor.

## Import das bibliotecas

Vamos realizar o import das bibliotecas.

In [1]:
import mysql.connector
from functools import partial
import os
import insperautograder.jupyter as ia
from dotenv import load_dotenv

E vamos criar nosso HELPER de conexão com o banco! Perceba que, uma vez configurado o `.env` não precisaremos mais informar usuários, senhas e URLs!

In [ ]:
load_dotenv(override=True)

def get_connection_helper():

    def run_db_query(connection, query, args=None):
        with connection.cursor() as cursor:
            print("Executando query:")
            cursor.execute(query, args)
            for result in cursor:
                print(result)

    connection = mysql.connector.connect(
        host=os.getenv("MD_DB_SERVER"),
        user=os.getenv("MD_DB_USERNAME"),
        password=os.getenv("MD_DB_PASSWORD"),
        port=int(os.getenv("MD_DB_PORT", 3306)),
        database="classicmodels",
    )
    return connection, partial(run_db_query, connection)


connection, db = get_connection_helper()

### Tarefas e Notas
Vamos conferir as tarefas e notas

In [2]:
ia.tasks()

|    | Atividade    | De                  | Até                 | Conta como ATV?   | % Nota Atraso   |
|---:|:-------------|:--------------------|:--------------------|:------------------|:----------------|
|  0 | newborn      | 2025-08-11 00:00:00 | 2025-11-30 00:00:00 | Não               | 0%              |
|  1 | select01     | 2025-08-14 00:00:00 | 2025-08-22 23:59:59 | Sim               | 25%             |
|  2 | ddl          | 2025-08-25 12:00:00 | 2025-08-31 23:59:59 | Sim               | 25%             |
|  3 | dml          | 2025-08-28 16:30:00 | 2025-09-04 23:59:59 | Sim               | 25%             |
|  4 | agg_join     | 2025-09-01 14:00:00 | 2025-09-07 23:59:59 | Sim               | 25%             |
|  5 | group_having | 2025-09-04 16:30:00 | 2025-09-11 23:59:59 | Sim               | 25%             |
|  6 | views        | 2025-09-08 14:15:00 | 2025-09-14 23:59:59 | Sim               | 25%             |
|  7 | sql_review1  | 2025-09-11 14:15:00 | 2025-09-18 23:59:59 | Sim               | 25%             |

In [3]:
ia.grades(by="TASK")

|    | Tarefa       |   Nota | Conta como ATV?   |
|---:|:-------------|-------:|:------------------|
|  0 | newborn      |     10 | Não               |
|  1 | select01     |     10 | Sim               |
|  2 | ddl          |     10 | Sim               |
|  3 | dml          |     10 | Sim               |
|  4 | agg_join     |     10 | Sim               |
|  5 | group_having |     10 | Sim               |
|  6 | views        |     10 | Sim               |
|  7 | sql_review1  |      0 | Sim               |

In [4]:
ia.grades(task="sql_review1")

|    | Atividade   | Exercício   |   Peso |   Nota |   Nota Sem Atraso |   Nota Com Atraso |
|---:|:------------|:------------|-------:|-------:|------------------:|------------------:|
|  0 | sql_review1 | ex01        |      1 |      0 |                 0 |                 0 |
|  1 | sql_review1 | ex02        |      1 |      0 |                 0 |                 0 |
|  2 | sql_review1 | ex03        |      1 |      0 |                 0 |                 0 |
|  3 | sql_review1 | ex04        |      1 |      0 |                 0 |                 0 |
|  4 | sql_review1 | ex05        |      1 |      0 |                 0 |                 0 |
|  5 | sql_review1 | ex06        |      1 |      0 |                 0 |                 0 |
|  6 | sql_review1 | ex07        |      2 |      0 |                 0 |                 0 |
|  7 | sql_review1 | ex08        |      3 |      0 |                 0 |                 0 |
|  8 | sql_review1 | ex09        |      2 |      0 |                 0 |                 0 |
|  9 | sql_review1 | ex10        |      1 |      0 |                 0 |                 0 |
| 10 | sql_review1 | ex11        |      3 |      0 |                 0 |                 0 |
| 11 | sql_review1 | ex12        |      3 |      0 |                 0 |                 0 |

In [5]:
# Média de ATV, dividindo por n-2
ia.average(excluded_count=2)

|    |   Média de ATV |
|---:|---------------:|
|  0 |             10 |

**Exercício 1**: Crie uma query que conte a quantidade de registros na tabela `offices`.

In [7]:
sql_ex01 = """
    SELECT COUNT(*) AS total_offices
    FROM offices;
"""

# db(sql_ex01)

Após testar localmente e considerar sua solução correta, faça o envio clicando no botão abaixo!

In [8]:
ia.sender(answer="sql_ex01", task="sql_review1", question="ex01", answer_type="pyvar")

interactive(children=(Button(description='Enviar ex01', style=ButtonStyle()), Output()), _dom_classes=('widget…

#### Conferir a nota
Se obter um **correto**, confira se a nota foi atualizada:

In [9]:
ia.grades(task="sql_review1")

|    | Atividade   | Exercício   |   Peso |   Nota |   Nota Sem Atraso |   Nota Com Atraso |
|---:|:------------|:------------|-------:|-------:|------------------:|------------------:|
|  0 | sql_review1 | ex01        |      1 |     10 |                10 |                 0 |
|  1 | sql_review1 | ex02        |      1 |      0 |                 0 |                 0 |
|  2 | sql_review1 | ex03        |      1 |      0 |                 0 |                 0 |
|  3 | sql_review1 | ex04        |      1 |      0 |                 0 |                 0 |
|  4 | sql_review1 | ex05        |      1 |      0 |                 0 |                 0 |
|  5 | sql_review1 | ex06        |      1 |      0 |                 0 |                 0 |
|  6 | sql_review1 | ex07        |      2 |      0 |                 0 |                 0 |
|  7 | sql_review1 | ex08        |      3 |      0 |                 0 |                 0 |
|  8 | sql_review1 | ex09        |      2 |      0 |                 0 |                 0 |
|  9 | sql_review1 | ex10        |      1 |      0 |                 0 |                 0 |
| 10 | sql_review1 | ex11        |      3 |      0 |                 0 |                 0 |
| 11 | sql_review1 | ex12        |      3 |      0 |                 0 |                 0 |

**Exercício 2**: Crie uma query que retorne todos os países diferentes considerando os registros da tabela de consumidores. Ainda, retorne em ordem crescente pelo nome do país.

In [10]:
sql_ex02 = """
SELECT DISTINCT country
FROM customers
ORDER BY country ASC;
"""

# db(sql_ex02)

Após testar localmente e considerar sua solução correta, faça o envio clicando no botão abaixo!

In [11]:
ia.sender(answer="sql_ex02", task="sql_review1", question="ex02", answer_type="pyvar")

interactive(children=(Button(description='Enviar ex02', style=ButtonStyle()), Output()), _dom_classes=('widget…

**Exercício 3**: Crie uma query que CONTE quantos são os países diferentes (sem repetição) considerando os registros da tabela de consumidores.

In [12]:
sql_ex03 = """
SELECT COUNT(DISTINCT country) AS total_paises
FROM customers;
"""

# db(sql_ex03)

Após testar localmente e considerar sua solução correta, faça o envio clicando no botão abaixo!

In [13]:
ia.sender(answer="sql_ex03", task="sql_review1", question="ex03", answer_type="pyvar")

interactive(children=(Button(description='Enviar ex03', style=ButtonStyle()), Output()), _dom_classes=('widget…

**Exercício 4**: Crie uma query que retorne o **Nome do consumidor** e **telefone** de todos os consumidores que possuem a substring `Ltd` em seu nome. Ainda, retorne em ordem decrescente por nome.

In [14]:
sql_ex04 = """
SELECT customerName, phone
FROM customers
WHERE customerName LIKE '%Ltd%'
ORDER BY customerName DESC;
"""

# db(sql_ex04)

Após testar localmente e considerar sua solução correta, faça o envio clicando no botão abaixo!

In [15]:
ia.sender(answer="sql_ex04", task="sql_review1", question="ex04", answer_type="pyvar")

interactive(children=(Button(description='Enviar ex04', style=ButtonStyle()), Output()), _dom_classes=('widget…

**Exercício 5**: Considerando os **produtos** e **categorias** cadastradas, crie uma query que retorne:
- o **id** do produto
- o **nome** do produto
- o **id da categoria** do produto
- a **descrição** da categoria cadastrada

Restrições:
- Ordene pelo **nome** do produto
- Exiba apenas os primeiros `5` registros
- Retorne as colunas na ordem requisitada
- As três primeiras colunas deverão manter o mesmo nome dos campos na base. A quarta coluna (**descrição** da categoria cadastrada) deverá se chamar `productLineDescription`.

In [16]:
sql_ex05 = """
SELECT 
    p.productCode,
    p.productName,
    p.productLine,
    pl.textDescription AS productLineDescription
FROM products p
JOIN productlines pl 
    ON p.productLine = pl.productLine
ORDER BY p.productName ASC
LIMIT 5;
"""

# db(sql_ex05)

Após testar localmente e considerar sua solução correta, faça o envio clicando no botão abaixo!

In [17]:
ia.sender(answer="sql_ex05", task="sql_review1", question="ex05", answer_type="pyvar")

interactive(children=(Button(description='Enviar ex05', style=ButtonStyle()), Output()), _dom_classes=('widget…

**Exercício 6**: Crie uma query que retorne o **código** e **nome** dos produtos sem nenhuma venda.

In [18]:
sql_ex06 = """
SELECT 
    p.productCode,
    p.productName
FROM 
    products p
LEFT JOIN 
    orderdetails od ON p.productCode = od.productCode
WHERE 
    od.productCode IS NULL;
"""

# db(sql_ex06)

Após testar localmente e considerar sua solução correta, faça o envio clicando no botão abaixo!

In [19]:
ia.sender(answer="sql_ex06", task="sql_review1", question="ex06", answer_type="pyvar")

interactive(children=(Button(description='Enviar ex06', style=ButtonStyle()), Output()), _dom_classes=('widget…

**Exercício 7**: Crie uma query que retorne o **código**, **nome** e **total vendido** dos cinco produtos com maior valor total vendido.

**Requisitos**:
- As duas primeiras colunas devem seguir a mesma nomenclatura dos campos na tabela
- A coluna com a informação do **total vendido** (valor) deve se chamar `totalOrdered`
- Retorne em ordem decrescente por **total vendido**

In [21]:
sql_ex07 = """
SELECT 
    p.productCode,
    p.productName,
    SUM(od.quantityOrdered * od.priceEach) AS totalOrdered
FROM 
    products p
JOIN 
    orderdetails od ON p.productCode = od.productCode
GROUP BY 
    p.productCode, p.productName
ORDER BY 
    totalOrdered DESC
LIMIT 5;
"""

# db(sql_ex07)

Após testar localmente e considerar sua solução correta, faça o envio clicando no botão abaixo!

In [22]:
ia.sender(answer="sql_ex07", task="sql_review1", question="ex07", answer_type="pyvar")

interactive(children=(Button(description='Enviar ex07', style=ButtonStyle()), Output()), _dom_classes=('widget…

**Exercício 8**: Considere a descrição do exercício anterior, com a seguinte alteração:

**Requisitos**:
- Retorne em ordem **crescente** por **total vendido**

In [33]:
sql_ex08 = """
SELECT 
    t.productCode,
    t.productName,
    t.totalOrdered
FROM (
    SELECT 
        p.productCode,
        p.productName,
        SUM(od.quantityOrdered * od.priceEach) AS totalOrdered
    FROM 
        products p
    JOIN 
        orderdetails od ON p.productCode = od.productCode
    GROUP BY 
        p.productCode, p.productName
    ORDER BY 
        totalOrdered DESC
    LIMIT 5
) AS t
ORDER BY 
    t.totalOrdered ASC;
"""

# db(sql_ex08)

Após testar localmente e considerar sua solução correta, faça o envio clicando no botão abaixo!

In [34]:
ia.sender(answer="sql_ex08", task="sql_review1", question="ex08", answer_type="pyvar")

interactive(children=(Button(description='Enviar ex08', style=ButtonStyle()), Output()), _dom_classes=('widget…

**Exercício 9**: Crie uma query que retorne o **código**, **nome** e **total vendido** dos quatro produtos com **menor** valor total vendido.

**Requisitos**:
- As duas primeiras colunas devem seguir a mesma nomenclatura dos campos na tabela
- A coluna com a informação do **total vendido** (valor) deve se chamar `totalOrdered`
- Retorne em ordem crescente por **total vendido**
- Se um produto não teve vendas, teve aparecer o valor `0.00`

In [35]:
sql_ex09 = """
SELECT 
    p.productCode,
    p.productName,
    COALESCE(SUM(od.quantityOrdered * od.priceEach), 0) AS totalOrdered
FROM 
    products p
LEFT JOIN 
    orderdetails od ON p.productCode = od.productCode
GROUP BY 
    p.productCode, p.productName
ORDER BY 
    totalOrdered ASC
LIMIT 4;
"""

# db(sql_ex09)

Após testar localmente e considerar sua solução correta, faça o envio clicando no botão abaixo!

In [36]:
ia.sender(answer="sql_ex09", task="sql_review1", question="ex09", answer_type="pyvar")

interactive(children=(Button(description='Enviar ex09', style=ButtonStyle()), Output()), _dom_classes=('widget…

**Exercício 10**: Crie uma query que retorne o **código**, **nome** e **total vendido** dos  produtos com valor total vendido maior que 190.000,00 (cento e noventa mil).

**Requisitos**:
- As duas primeiras colunas devem seguir a mesma nomenclatura dos campos na tabela
- A coluna com a informação do **total vendido** (valor) deve se chamar `totalOrdered`
- Retorne em ordem **crescente** por **total vendido**

In [37]:
sql_ex10 = """
SELECT 
    p.productCode,
    p.productName,
    SUM(od.quantityOrdered * od.priceEach) AS totalOrdered
FROM 
    products p
JOIN 
    orderdetails od ON p.productCode = od.productCode
GROUP BY 
    p.productCode, p.productName
HAVING 
    totalOrdered > 190000
ORDER BY 
    totalOrdered ASC;
"""

# db(sql_ex10)

Após testar localmente e considerar sua solução correta, faça o envio clicando no botão abaixo!

In [38]:
ia.sender(answer="sql_ex10", task="sql_review1", question="ex10", answer_type="pyvar")

interactive(children=(Button(description='Enviar ex10', style=ButtonStyle()), Output()), _dom_classes=('widget…

**Exercício 11**: Crie uma query que retorne o valor unitário médio dos produtos vendidos em cada mês de cada ano.

Sua query deve retornar as colunas:
- `orderYear`: valor inteiro que representa o ano. Ex: 2002, 2003, 2004
- `orderMonth`: valor inteiro que representa o mês. Ex: 1, 2, ..., 12
- `productCode`: código do produto
- `productName`: descrição do produto
- `averagePrice`: preço médio unitário

**Requisitos**:
- Retorne apenas os dados de 2003 e 2004
- Retorne apenas as informações do primeiro trimestre do ano
- Retorne apenas os produtos com a substring `ford` no nome do produto
- Produtos sem venda em algum mês ou sem vendas de forma geral não devem ser retornados
- Ordene por múltiplos critérios, nesta ordem:
    - `orderYear`
    - `orderMonth`
    - `productName`

**Obs**:
- Aqui, o valor médio unitário é por venda, desconsiderando a **quantidade** unitária do produto dentro da venda.

In [39]:
sql_ex11 = """
SELECT
  YEAR(o.orderDate)  AS orderYear,
  MONTH(o.orderDate) AS orderMonth,
  p.productCode,
  p.productName,
  AVG(od.priceEach)  AS averagePrice
FROM orders o
JOIN orderdetails od ON od.orderNumber = o.orderNumber
JOIN products p     ON p.productCode = od.productCode
WHERE YEAR(o.orderDate) IN (2003, 2004)
  AND MONTH(o.orderDate) BETWEEN 1 AND 3
  AND LOWER(p.productName) LIKE '%ford%'
GROUP BY
  YEAR(o.orderDate),
  MONTH(o.orderDate),
  p.productCode,
  p.productName
ORDER BY
  orderYear,
  orderMonth,
  p.productName;
"""

# db(sql_ex11)

Após testar localmente e considerar sua solução correta, faça o envio clicando no botão abaixo!

In [40]:
ia.sender(answer="sql_ex11", task="sql_review1", question="ex11", answer_type="pyvar")

interactive(children=(Button(description='Enviar ex11', style=ButtonStyle()), Output()), _dom_classes=('widget…

**Exercício 12**: Crie uma query que crie uma tabela temporária `salesproductlines` contendo informações sobre o quanto a empresa deixou de ganhar devido a vendas **canceladas**. A informação deve estar agrupada por **linha de produto** (tabela `productlines`).

Sua query deve retornar as colunas:
- `productLine`: texto com a linha do produto
- `qtProductCode`: quantos produtos diferentes da linha de produto deixaram de ser vendidos
- `qtTotalOrdered`: total de quantas unidades deixaram de ser vendidas
- `totalLost`: faturamento perdido, considerando o valor unitário na venda e quantas unidades do produto estavam para ser vendidas

**Requisitos**:
- Linhas de produtos sem vendas devem ser retornadas com quantidade `0` e valores `0.00`
- Ordene por `totalLost` de forma decrescente

In [42]:
sql_ex12 = """
CREATE TEMPORARY TABLE salesproductlines AS
SELECT
  pl.productLine                                                        AS productLine,
  COUNT(DISTINCT CASE WHEN o.orderNumber IS NOT NULL THEN p.productCode END)                     AS qtProductCode,
  COALESCE(SUM(CASE WHEN o.orderNumber IS NOT NULL THEN od.quantityOrdered ELSE 0 END), 0)       AS qtTotalOrdered,
  CAST(
    COALESCE(SUM(CASE WHEN o.orderNumber IS NOT NULL THEN (od.quantityOrdered * od.priceEach) ELSE 0 END), 0)
    AS DECIMAL(15,2)
  )                                                                                              AS totalLost
FROM productlines pl
LEFT JOIN products p
       ON p.productLine = pl.productLine
LEFT JOIN orderdetails od
       ON od.productCode = p.productCode
LEFT JOIN orders o
       ON o.orderNumber = od.orderNumber
      AND LOWER(o.status) = 'cancelled'     -- considera apenas pedidos cancelados
GROUP BY
  pl.productLine
ORDER BY totalLost DESC;
"""

# db(sql_ex12)

Após testar localmente e considerar sua solução correta, faça o envio clicando no botão abaixo!

In [43]:
ia.sender(answer="sql_ex12", task="sql_review1", question="ex12", answer_type="pyvar")

interactive(children=(Button(description='Enviar ex12', style=ButtonStyle()), Output()), _dom_classes=('widget…

### Conferindo as Notas

Conferindo as Notas em cada exercício de **todas** as atividades disponíveis:

Podemos filtrar por uma atividade:

In [44]:
ia.grades(task="sql_review1")

|    | Atividade   | Exercício   |   Peso |   Nota |   Nota Sem Atraso |   Nota Com Atraso |
|---:|:------------|:------------|-------:|-------:|------------------:|------------------:|
|  0 | sql_review1 | ex01        |      1 |     10 |                10 |                 0 |
|  1 | sql_review1 | ex02        |      1 |     10 |                10 |                 0 |
|  2 | sql_review1 | ex03        |      1 |     10 |                10 |                 0 |
|  3 | sql_review1 | ex04        |      1 |     10 |                10 |                 0 |
|  4 | sql_review1 | ex05        |      1 |     10 |                10 |                 0 |
|  5 | sql_review1 | ex06        |      1 |     10 |                10 |                 0 |
|  6 | sql_review1 | ex07        |      2 |     10 |                10 |                 0 |
|  7 | sql_review1 | ex08        |      3 |     10 |                10 |                 0 |
|  8 | sql_review1 | ex09        |      2 |     10 |                10 |                 0 |
|  9 | sql_review1 | ex10        |      1 |     10 |                10 |                 0 |
| 10 | sql_review1 | ex11        |      3 |     10 |                10 |                 0 |
| 11 | sql_review1 | ex12        |      3 |     10 |                10 |                 0 |

Nota por atividade (tarefa):

In [45]:
ia.grades(by="TASK")

|    | Tarefa       |   Nota | Conta como ATV?   |
|---:|:-------------|-------:|:------------------|
|  0 | newborn      |     10 | Não               |
|  1 | select01     |     10 | Sim               |
|  2 | ddl          |     10 | Sim               |
|  3 | dml          |     10 | Sim               |
|  4 | agg_join     |     10 | Sim               |
|  5 | group_having |     10 | Sim               |
|  6 | views        |     10 | Sim               |
|  7 | sql_review1  |     10 | Sim               |

Podendo filtrar apenas uma atividade:

In [46]:
ia.grades(by="TASK", task="sql_review1")

|    | Tarefa      |   Nota | Conta como ATV?   |
|---:|:------------|-------:|:------------------|
|  0 | sql_review1 |     10 | Sim               |

Média de ATV:

In [47]:
# Média de ATV, dividindo por n-2
ia.average(excluded_count=2)

|    |   Média de ATV |
|---:|---------------:|
|  0 |             10 |